.main__title {
    display: inline-block;
    margin: 0 20px;

    font-size: 32px;
    line-height: 37px;
    color: #1d2839;
    font-weight: 500;
    font-family: "Kanit";
    text-transform: uppercase;
}