@import url("common.blocks/page/page.css");
@import url("common.blocks/aside/aside.css");
@import url("common.blocks/aside/__photo/aside__photo.css");
@import url("common.blocks/info/info.css");
@import url("common.blocks/info/__item/info__item.css");
@import url("common.blocks/info/__item/_flex/info__item_flex.css");
@import url("common.blocks/info/__line/info__line.css");
@import url("common.blocks/info/__list/info__list.css");
@import url("common.blocks/info/__text/info__text.css");
@import url("common.blocks/info/__title/info__title.css");
@import url("common.blocks/header/header.css");
@import url("common.blocks/header/__subtitle/header__subtitle.css");
@import url("common.blocks/header/__title/header__title.css");
@import url("common.blocks/main/main.css");
@import url("common.blocks/main/__profile-img/main__profile-img.css");
@import url("common.blocks/main/__profile-line/main__profile-line.css");
@import url("common.blocks/main/__profile-text/main__profile-text.css");
@import url("common.blocks/main/__profile/main__profile.css");
@import url("common.blocks/main/__title/main__title.css");
@import url("common.blocks/description/description.css");
@import url("common.blocks/description/__img/description__img.css");
@import url("common.blocks/description/__info/description__info.css");
@import url("common.blocks/description/__line/description__line.css");
@import url("common.blocks/description/__text/description__text.css");
@import url("common.blocks/description/__title/description__title.css");

* {
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
  
    font-family: 'Poppins', Arial, sans-serif;
    font-weight: 400;
	letter-spacing: 0px;
	font-size: 16px;
    background-color: #b4b0a5;
}

a {
    text-decoration: underline;
    color:#ffffff;
}
