@import "/common.blocks/page/page.css";

* {
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
  
    font-family: 'Poppins', Arial, sans-serif;
    font-weight: 400;
	letter-spacing: 0px;
	font-size: 16px;
    background-color: #b4b0a5;
}

a {
    text-decoration: underline;
    color:#ffffff;
}
