@import url("common.blocks/page/page.css");
@import url("common.blocks/aside/aside.css");
@import url("common.blocks/aside/^_photo/aside__photo.css");
@import url("common.blocks/info/info.css");
@import url("common.blocks/info/^_item/info__item.css");
@import url("common.blocks/info/^_item/^_flex/info__item_flex.css");
@import url("common.blocks/info/^_line/info__line.css");
@import url("common.blocks/info/^_list/info__list.css");
@import url("common.blocks/info/^_text/info__text.css");
@import url("common.blocks/info/^_title/info__title.css");
@import url("common.blocks/header/header.css");
@import url("common.blocks/header/^_subtitle/header__subtitle.css");
@import url("common.blocks/header/^_title/header__title.css");
@import url("common.blocks/main/main.css");
@import url("common.blocks/main/^_profile-img/main__profile-img.css");
@import url("common.blocks/main/^_profile-line/main__profile-line.css");
@import url("common.blocks/main/^_profile-text/main__profile-text.css");
@import url("common.blocks/main/^_profile/main__profile.css");
@import url("common.blocks/main/^_title/main__title.css");
@import url("common.blocks/description/description.css");
@import url("common.blocks/description/^_img/description__img.css");
@import url("common.blocks/description/^_info/description__info.css");
@import url("common.blocks/description/^_line/description__line.css");
@import url("common.blocks/description/^_text/description__text.css");
@import url("common.blocks/description/^_title/description__title.css");

* {
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
  
    font-family: 'Poppins', Arial, sans-serif;
    font-weight: 400;
	letter-spacing: 0px;
	font-size: 16px;
    background-color: #b4b0a5;
}

a {
    text-decoration: underline;
    color:#ffffff;
}
