@import url("__title/header__title.css");
@import url("__subtitle/header__subtitle.css");

.header {
    padding: 120px 0 0 43%;
    min-height: 420px;

    text-transform: uppercase;
    line-height: 1;
}