@import url("../aside/aside.css");
@import url("../info/info.css");
@import url("../header/header.css");
@import url("../main/main.css");
@import url("../description/description.css");

.page {

    max-width: 1190px;
    min-width: 1024px;
    height: 1500px;

    margin: 0 auto;
    font-family: 'Barlow', Arial, sans-serif;
    background: url(../../assets/images/Page-background.svg) no-repeat;
    background-size: 100%;
  }
  