@import "__title/info__title.css";
@import "__list/info__list.css";
@import "__item/info__item.css";
@import "__line/info__line.css";
@import "__text/info__text.css";

.info {
    font-size: 28px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Source Sans Pro";
    padding: 40px 0 0;
}