.description__info {
    margin: 16px 50px 40px 0;
    list-style-type: none;
}

.description__info li:before {
    color:rgb(40, 116, 226);;
    content: "\272F "; 
    padding: 0 10px 0 0;
}

.description__info li:first-child {
    background-color: rgb(168, 229, 245);
}

